extends layout

block append stylesheets
  link(rel='stylesheet', href='/css/pikaday.css')
  link(rel='stylesheet', href='/css/form.css')

block append scripts
  script(src='/js/pikaday.min.js')
  script(src='/js/createWatcher.js')

block content
  section#about_text
    p Watch for new rooms on #[a(target="_blank", href="//airbnb.com") Airbnb].
    p Get notified when rooms you want are posted.
  form(id='signUp', action="/create", method="post")
    section
      h3 Location
      input(type='text', name='location', placeholder='City', required="",
      autocomplete="off", maxlength='255')

    section
      h3 Dates
      input(type='text', name='checkin', placeholder='Check In Date', autocomplete="off")
      div#moveInContainer

      input(type='text', name='checkout', placeholder='Check Out Date', autocomplete="off")
      div#moveOutContainer


    section
      h3 Price Range&nbsp;
        span#price_unit (Per Night)
      input(type='number', name='price_min', placeholder='0', autocomplete="off",
      min='0', max='99999')

      input(type='number', name='price_max', placeholder='1000', autocomplete="off",
      min='0', max='99999')

      select(name='currency')
        option(value="AED") AED
        option(value="ARS") ARS
        option(value="AUD") AUD
        option(value="BRL") BRL
        option(value="CAD") CAD
        option(value="CHF") CHF
        option(value="CNY") CNY
        option(value="CRC") CRC
        option(value="CZK") CZK
        option(value="DKK") DKK
        option(value="EUR") EUR
        option(value="GBP") GBP
        option(value="HKD") HKD
        option(value="HRK") HRK
        option(value="HUF") HUF
        option(value="IDR") IDR
        option(value="ILS") ILS
        option(value="INR") INR
        option(value="JPY") JPY
        option(value="KRW") KRW
        option(value="MAD") MAD
        option(value="MYR") MYR
        option(value="MXN") MXN
        option(value="NOK") NOK
        option(value="NZD") NZD
        option(value="PEN") PEN
        option(value="PHP") PHP
        option(value="PLN") PLN
        option(value="RON") RON
        option(value="RUB") RUB
        option(value="SEK") SEK
        option(value="SGD") SGD
        option(value="THB") THB
        option(value="TRY") TRY
        option(value="TWD") TWD
        option(value="USD" selected="") USD
        option(value="VND") VND
        option(value="ZAR") ZAR


    section
      h3 Size
      select(name='number_of_guests')
        option(value="1") Guests
        - var n = 0
        while n < 16
          option(value="#{++n}") #{n} Guests

      select(name='min_bathrooms')
        option(value="") Bathrooms
        - var n = 0
        while n <= 8
          option(value="#{n}") #{n} Bathrooms
          - n += 0.5
      br
      select(name='min_bedrooms')
          option(value="") Bedrooms
          option(value="1") 1 Bedroom
          - var n = 1
          while n < 10
            option(value="#{++n}") #{n} Bedrooms

      select(name='min_beds')
        option(value="") Beds
        option(value="1") 1 Bed
        - var n = 1
        while n < 16
          option(value="#{++n}") #{n} Beds


    section
      h3 Room type
      div
        input(type='checkbox', name='room_type_entire', id='entire_room')
        label.room_type(for='entire_room') Entire

        input(type='checkbox', name='room_type_private', id='private_room')
        label.room_type(for='private_room') Private

        input(type='checkbox', name='room_type_shared', id='shared_room')
        label.room_type(for='shared_room') Shared


    section
      input(type='email', name='email', placeholder='Email Address', required="",
      autocomplete="off", maxlength='255')
      br
      input(type='submit', id='submitSignUp', value='Create Watcher')
