extends layout

block content
  h1= title
  p Welcome to #{title}
  form(id='signUp')
    p City:
      input(type='text', name='location', placeholder='city', required="")

    p Move in date:
      input(type='text', name='checkin', placeholder='1/1/2016')
      div#moveInContainer

    p Move out date:
      input(type='text', name='checkout', placeholder='1/1/2016')
      div#moveOutContainer

    p Number of guests:
      select(name='number_of_guests')
        option(value="")
        option(value="1") 1 Guest
        - var n = 1
        while n < 16
          option(value="#{++n}") #{n} Guests

    p Minimum price:
      input(type='text', name='price_min', placeholder='0')

    p Maximum price:
      input(type='text', name='price_max', placeholder='1000+')

    p Number of bedrooms:
      select(name='min_bedrooms')
        option(value="")
        option(value="1") 1 Bedroom
        - var n = 1
        while n < 10
          option(value="#{++n}") #{n} Bedrooms

    p Number of Bathrooms:
      select(name='min_bathrooms')
        - var n = 0
        option(value="")
        while n <= 8
          option(value="#{n}") #{n} Bathrooms
          - n += 0.5

    p Number of beds:
      select(name='min_beds')
        option(value="")
        option(value="1") 1 Bed
        - var n = 1
        while n < 16
          option(value="#{++n}") #{n} Beds

    p Root type:
      ul
        li Entire
          input(type='checkbox', name='room_type_entire', checked="")
        li Private
          input(type='checkbox', name='room_type_private', checked="")
        li Shared
          input(type='checkbox', name='room_type_shared', checked="")

    p Your Email:
      input(type='email', name='email', placeholder='you@email.com', required="")

    p
      input(type='submit', id='submitSignUp', value='Sign Up')
